<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.infx.llm</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{WORKER_PATH}}</string>
        <string>--status-addr</string>
        <string>127.0.0.1:4555</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/worker.out</string>
    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/worker.err</string>
</dict>
</plist>
