[Unit]
Description=infero server
After=network-online.target
Wants=network-online.target

[Service]
User=infero
Group=infero
EnvironmentFile=-/etc/infero/server.env
ExecStart=/usr/bin/infero $SERVER_FLAGS
Restart=on-failure
RestartSec=3s
AmbientCapabilities=
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
CapabilityBoundingSet=
StateDirectory=infero
RuntimeDirectory=infero
# Hardening knobs (adjust as needed)
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectControlGroups=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
