Source: infx
Section: utils
Priority: optional
Maintainer: Gaspard Petit <gaspardpetit@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-golang, golang-any:native
Standards-Version: 4.7.0
Homepage: https://github.com/gaspardpetit/infx
Rules-Requires-Root: no

Package: infx
Architecture: any
Depends: ${misc:Depends}, adduser
Description: infx server component (daemon)
 The server for infx.

Package: infx-llm
Architecture: any
Depends: ${misc:Depends}, adduser
Description: infx worker component (daemon)
 The worker for infx.
