Source: llamapool
Section: utils
Priority: optional
Maintainer: Gaspard Petit <gaspardpetit@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-sequence-golang, golang-any
Standards-Version: 4.7.0
Homepage: https://github.com/gaspardpetit/llamapool
Rules-Requires-Root: no

Package: llamapool-server
Architecture: amd64 arm64
Depends: ${misc:Depends}, adduser
Description: Llamapool server component (daemon)
 The server for Llamapool.
 .

Package: llamapool-worker
Architecture: amd64 arm64
Depends: ${misc:Depends}, adduser
Description: Llamapool worker component (daemon)
 The worker for Llamapool.
 .
