Source: llamapool
Section: utils
Priority: optional
Maintainer: Gaspard Petit <gaspardpetit@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-golang, golang-any:native
Standards-Version: 4.7.0
Homepage: https://github.com/gaspardpetit/llamapool
Rules-Requires-Root: no

Package: llamapool-server
Architecture: any
Depends: ${misc:Depends}, adduser
Description: llamapool server component (daemon)
 The server for llamapool.

Package: llamapool-worker
Architecture: any
Depends: ${misc:Depends}, adduser
Description: llamapool worker component (daemon)
 The worker for llamapool.
