<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="llamapool" Manufacturer="llamapool" Version="0.0.1" UpgradeCode="00000000-0000-0000-0000-000000000000">
    <MediaTemplate />
    <Feature Id="ProductFeature" Title="llamapool" Level="1">
      <!-- Components go here -->
    </Feature>
  </Package>
</Wix>
